$body-background-color: #ffffff;
$body-color: #414141;

// header
$header-background-color: #9d6c97;
$header-color: #f4f5f1;

// footer
$footer-background-color: #535353;
$footer-color: #f4f5f1;

// list
$list-background-color: rgb(235 225 234 / 33%);
$placeholder-border-color: rgba($header-background-color, 0.5);

// dialog
$backdrop-background-color: #5999ad;

// form
$button-outline-color: rgba(255, 255, 255, 0.80);
$button-group-background-color: #9d6c9733;
$input-is-invalid-border-color: #ff00005e;